.square:hover{
    -fx-background-image: none  !important;
    -fx-background-color: rgba(135, 206, 250, 0.35), transparent !important;
    -fx-background-insets: 0 !important;
}

.selected-square{
    -fx-background-color: rgba(100, 150, 255, 0.45) !important;
    -fx-background-insets: 0 !important;
}

.root{
    -fx-background-color: bisque;
}

.defaultLabel{
    /*-fx-font-family: "Segoe UI Semibold";*/
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.defaultTextField{
    -fx-control-inner-background: peru;
}

.defaultButton{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-color: peru;
}

.defaultButton:hover{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-color: goldenrod;
}

.defaultButton:pressed{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-color: chocolate;
}

.list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.list-cell:even {
    -fx-background-color: #FFFFFF;
}

.list-cell:odd {
    -fx-background-color: #FFFFFF;
}
.scoreLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-text-fill: #1f3b5c;

    -fx-background-color: #ffffffcc;
    -fx-background-radius: 8;
    -fx-padding: 6 12;

    -fx-border-color: #d0d8e8;
    -fx-border-radius: 8;
    -fx-border-width: 1;
}