.square:hover{
    -fx-background-image: none  !important;
    -fx-background-color: rgba(135, 206, 250, 0.35), transparent !important;
    -fx-background-insets: 0 !important;
}

.selected-square{
    -fx-background-color: rgba(100, 150, 255, 0.45) !important;
    -fx-background-insets: 0 !important;
}

.root{
    -fx-background-color: bisque;
}

.defaultLabel{
    /*-fx-font-family: "Segoe UI Semibold";*/
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.defaultTextField{
    -fx-control-inner-background: peru;
}

.defaultButton{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-color: peru;
}

.defaultButton:hover{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-color: goldenrod;
}

.defaultButton:pressed{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-background-color: chocolate;
}

/* Added from internet not yet modified or added to listviews */
.list-view {
    -fx-selection-bar: #328BDB;
    -fx-selection-bar-non-focused: #207BCF;
}

/* Change background for all rows */
.list-view .list-cell {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}

/* Alternating row colors */
.list-view .list-cell:odd {
    -fx-background-color: #ffffff;
}
.list-view .list-cell:even {
    -fx-background-color: #e0e0e0;
}
.scoreLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-text-fill: #1f3b5c;

    -fx-background-color: #ffffffcc;
    -fx-background-radius: 8;
    -fx-padding: 6 12;

    -fx-border-color: #d0d8e8;
    -fx-border-radius: 8;
    -fx-border-width: 1;
}
/*.winPopupBox {*/
/*    -fx-background-color: linear-gradient(to bottom, #ffffff, #e8e8e8);*/
/*    -fx-background-radius: 14;*/
/*    -fx-padding: 35;*/

/*    -fx-effect: dropshadow(gaussian, rgba(255,215,0,0.6), 30, 0.4, 0, 0);*/
/*    -fx-border-color: gold;*/
/*    -fx-border-width: 2;*/
/*    -fx-border-radius: 14;*/
/*}*/